<nav class="navbar navbar-expand-md navbar-dark " id="main_nav">

  <div class="mr-auto order-0">

      <!-- Logo and site name -->
      <a class="navbar-brand" href="/home">
        <img id="logo" src="assets/images/cup.png" alt="logo">
        3C SURVEYS
      </a>

      <!-- Toggle -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>

  </div>

  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        <ul class="navbar-nav mr-auto">

            <!--Inpage hash tag link-->
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['home']" pageScroll href="#active-surveys" [pageScrollDuration]="200"
                [pageScrollSpeed]="200" fragment="active-surveys">
                Current
              </a>
            </li>

            <!--Inpage hash tag link , coding part is not done yet-->
            <li class="nav-item">
              <a class="nav-link" routerLink="/surveys">
                Statistics
              </a>
            </li>

          </ul>
    </div>

  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">

        <!-- HOME -->
        <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
          <a class="nav-link" routerLink="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
        </li>

        <!-- CREATE SURVEYS -->
        <li *ngIf='isLoggedIn()' class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" routerLink="/surveys"><i class="fas fa-poll fa-lg"></i> Manage Surveys </a>
        </li>

        <!-- LOGIN/LOGOUT -->

        <!-- Admin menu -->
        <li *ngIf='isLoggedIn()' class="nav-item dropdown ml-5" class="dropdown">
          <a class="nav-link text-warning dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false"><i class="fas fa-lg fa-user-shield"></i>
            {{ user.displayName }} </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/update">Update account</a>

            <!-- log out-->
            <a (click)='onLogoutClick()' routerLink='/logout' class="dropdown-item" routerLink="/login">
              <i class="fas fa-sign-out-alt"></i> Sign out </a>
          </div>
        </li>

        <li *ngIf='!isLoggedIn()' class="nav-item">
          <a class="nav-link" routerLink="/register">
            Register
          </a>
        </li>

        <!-- <li *ngIf='isLoggedIn()' class="nav-item">
          <a (click)='onLogoutClick()' routerLink='/logout' class="btn btn-primary justify-content-center"
            routerLink="/login" id="heroBtn">
            <i class="fas fa-sign-out-alt"></i> Logout </a>
        </li> -->

        <!-- Login -->
        <li *ngIf='!isLoggedIn()' class="nav-item">
          <a class="nav-link" routerLink="/login" class="btn btn-primary justify-content-center" id="heroBtn"><i
              class="fas fa-sign-in-alt"></i> Login </a>
        </li>

      </ul>
  </div>
</nav>
