#surveyContainer {
  padding-bottom: 150px;
}
/* Buttons*/
button {
  font-size: 16px;
  width: 115px;
}

#edit-td, #del-td, #view-td {
  text-align: center;
}

#edit_button {
  background-color: #2e61ae;
  color: white;
}

#edit_button:hover {
  background-color: #254e8b;
}

#delete_button {
  background-color: #ffa825;
  color: black;
  font-size: 16px;
}

table {
  border: 1px solid #ccc;
}
/* Tablehead */
thead th {
  background: #f7f7fa;
  text-align: center;
  position: relative;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  height: 20px;
}

/* thead th:first-child {
  text-align: left;
} */

th,
td {
  font-family: inherit;
  font-size: 0.875em;
  line-height: 1.45;
  color: rgb(0, 0, 0);
  vertical-align: middle;
  text-align: left;
  padding: 1em;

  border: 1px solid #ccc;
}

/* for striped table */
tbody tr:nth-child(even) td{
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
  border-width: 1px 0 1px 1px;
}

/*
screen smaller than 760px and for tablets.
*/
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
  #edit-td, #del-td, #view-td {
    text-align: left;
  }

  #create_btn {
    top: 18px;
    left: 10px;
    position: relative;
  }
  #create_input {
    margin-top: 6px;
    left: 18px;
  }

  tbody tr:nth-child(even) td {
    border: none;
  }
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers*/
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		border: none;
		/* border-bottom: 1px solid #eee; */
		position: relative;
		padding-left: 50%;
	}

	td:before {
		position: absolute;
		/* Top/left values mimic padding */
		top: 30%;
		left: 6px;
		width: 45%;
		padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
	}

	/*New table headers*/
	td:nth-of-type(1):before { content: "Survey Name"; }
	td:nth-of-type(2):before { content: "Active"; }
	td:nth-of-type(3):before { content: "Expires"; }
	td:nth-of-type(4):before { content: "Edit"; }
  td:nth-of-type(5):before { content: "Delete"; }
  td:nth-of-type(6):before { content: "Results"; }

}
