<!--SurveyManagement Comoponent-->
<div class="container mt-4" id="surveyContainer">
  <h1 class="text-center">Survey Management</h1>
  <!-- Section for creating a new survey -->
  <div class="container bg-light p-4 mt-4 rounded shadow">
    <h4>Create a survey</h4>
    <div class="form-group">
      <div class="row">
        <input class="form-control col-10" placeholder="Enter survery name" name="survey-name"
          [(ngModel)]="newSurvey.name">
        <button [disabled]="!newSurvey.name" (click)="onCreateSurvey()" class="btn btn-success btn-sm ml-2">
          CREATE
        </button>
      </div>
    </div>
  </div>

  <!-- Table displaying all surveys-->
  <div class="mt-5">
    <h4>All Surveys</h4>
    <table class="table">
      <thead class="col-9">
        <tr>
          <th scope="col" style="width:40%">Survey Name</th>
          <th scope="col">ACTIVE</th>
          <th scope="col">EXPIRE</th>
          <th scope="col">EDIT</th>
          <th scope="col">DELETE</th>
          <th scope="col">RESULTS</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let survey of surveys">
          <td> {{ survey.name }}</td>
          <td>{{ survey.dateActive | date: 'MMM d, y, h:mm a' }}</td>
          <td>{{ survey.dateExpire | date: 'MMM d, y, h:mm a' }}</td>
          <td>
            <button routerLink="/surveys/edit/{{survey._id}}" class="btn btn-primary btn-sm">
              Edit
            </button>
          </td>
          <td>
            <button (click)="onDeleteSurvey(survey._id)" class="btn btn-danger btn-sm">
              Delete
            </button>
          </td>
          <td>
            <button routerLink="/surveys/results/{{survey._id}}" class="btn btn-info btn-sm">
              View Results
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
