<!-- Home/Landing Page -->

<div id="background">
  <!-- Welcome Message -->
  <div id="welcome_div_wrap">
    <!-- Text and button section -->
    <div id="text_div_wrap">
      <div id="text_div">
        <p id="text_top" class="text-left">
          Survey with 3C,<br>learn without distance !
        </p>

        <div id="text_subtitle_wrap">
          <p class="text-left">
            <span id="text_subtitle">
              <br>As a survey creator<br>
            </span>
            <span id="text_content">
              (1) Register / login your account<br>
              (2) Create a survey template<br>
              (3) Share the page link to survey takers
            </span>
          </p>
        </div>

        <a id="heroBtn" routerLink="/surveys" class="btn btn-primary justify-content-center" id="heroBtn">
          Create Survey
        </a>

      </div>
    </div>

    <!-- Pucture section -->
    <div id="pic_div">
      <img src="assets/images/main_pic.png" id="main_img">
    </div>
  </div>
</div>

<div id="background2">
  <!-- Active Surveys -->
  <app-survey-list></app-survey-list>
</div>
