<div class="container">
  <h1>{{survey?.name}}</h1>
  <form>
    <div class="bg-light shoddow rounded m-3" *ngFor="let question of survey?.questions; let questionIndex= index;">
      <h5>{{question.title}}</h5>

      <div class="form-check" *ngFor="let option of question.options; let optionIndex= index; trackBy:customBTrackBy">
        <!-- <input type="radio" class="form-check-input" name="'question' + questionIndex" value="true">
        {{'question' + questionIndex}} -->
        <label class="form-check-label" for="materialUnchecked">{{option.details}}</label>
      </div>
      <span>{{question.choosenOption}}</span>
    </div>


    <button class="btn btn-success btn-sm m-1 p-2" (click)="onSurveySave()">
      SUBMIT
    </button>
  </form>
</div>
